:root {
    --green: #5ECE7B;
    --grey: #EEEEEE;
    --black: #1D1F22;
    --red: rgb(170, 45, 45);

}

.category.title {
    padding: 48px 0px 103px 101px;
}

.category.title>h1 {
    color: var(--black);
    text-transform: capitalize;
    font-weight: 400;
    font-size: 42px;
    line-height: 160%;
}



.products {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 100px 100px 100px;


}

.products:after {
    content: "";
    flex: auto;
    width: 356px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 444px;
    width: 386px;
    color: var(--black);
}
 
.product {
    position: relative;
    margin-bottom: 103px;
    margin-right: 40px;
    display: inline-block;
    text-decoration: none;
    color: var(--black)
}

.invisible {
    display: none;
}

.product:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}

.product:hover .invisible {
    display: block;
    position: absolute;
    width: 52px;
    height: 52px;
    left: 303px;
    top: 320px;
    margin: 0;
    padding: 0;

}

.description {
    padding: 0px 16px 16px 16px;
}


.name {
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
}

.price {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
}

.prod-image {
    width: 354px;
    height: 330px;
    object-fit: scale-down;
    margin-bottom: 24px;
    padding: 16px 16px 0px 16px;
    
}

.outOfStock>.card {
    opacity: .3;
}

#outOfStock {
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    position: absolute;
    right: 95px;
    top: 151px;
    color: #8D8F9A;
}

.container.category {
    z-index: 998;
}
.container.category.darken {
    pointer-events: none;
    background-color: rgba(57, 55, 72, 0.22);
    filter: brightness(88%);

}

/* responsive */

@media screen and (max-width: 995px) {
    .products {
        flex-direction: column;
        align-items: center;
    }
}


@media screen and (max-width: 800px) {
    .container.header>.categories>a {
        font-size: .8em;
    }

    #green-logo {
        width: 25px;
    }
}

@media screen and (max-width: 650px) {
    .container.header {
        padding: 28px 50px 32px 50px !important;
    }

    .products {
        padding: 0px 10px !important;
    }

    .prod-image {
        width: 300px;
    }

    .card {
        height: 570px;
    }

    #outOfStock {
        font-size: .7em;
        bottom: -100px
    }

    .product:hover .invisible {
        right: -250px;

    }


}

@media screen and (max-width: 500px) {
    #green-logo {
        display: none;
    }

    .prod-image {
        width: 200px;
    }

    .card {
        height: 400px;
    }

    .name,
    .price {
        font-size: .8em;
    }

    .product:hover .invisible {
        right: -150px;
        width: 40px;

    }
}